{% extends "base.html" %}

{% block title %}
Expense Categories - Django Two-Shot
{% endblock title %}

{% block content %}
    <main>
        <h1>My Expense Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in category_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}</td> <!--https://www.w3schools.com/django/ref_filters_length.php-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
