{% extends "base.html" %}

{% block title %}
Accounts - Django Two-Shot
{% endblock title %}

{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in account_list %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.receipts.all|length }}</td> <!--https://www.w3schools.com/django/ref_filters_length.php-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
